<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
      <resolveTokens>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.Presentation.Pipelines.ResolveTokens.ResolvePresentationTokens, Sitecore.XA.Foundation.Presentation']"
		type="Sitecore.Support.XA.Foundation.Presentation.Pipelines.ResolveTokens.ResolvePresentationTokens, Sitecore.Support.9582" resolve="true" />
      </resolveTokens>
	  <getLookupSourceItems>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.TokenResolution.Pipelines.GetLookupSourceItems.ResolveTokenRelativeQuerySource, Sitecore.XA.Foundation.TokenResolution']"
                   type="Sitecore.Support.XA.Foundation.TokenResolution.Pipelines.GetLookupSourceItems.ResolveTokenRelativeQuerySource, Sitecore.Support.9582" resolve="true" />
      </getLookupSourceItems>
        </pipelines>
    </sitecore>
</configuration>